@use './reset' as *;
@use './colors' as *;
@use './animations' as *;

body {
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
	font-family: 'Poppins', sans-serif;
	background-color: $black;
	color: $white;
}

@font-face {
	font-family: 'archia';
	src: url('/fonts/archia-regular-webfont.woff2') format('woff2'),
		url('/fonts/archia-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/// NAV

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $black;
	border-bottom: 1px solid $dark-grey;
	z-index: 5;

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
	}

	&__logo {
		img {
			margin: 0.7em 0 0 0.6em;
			height: 65px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 80px;
		right: 0;
		width: 100%;
		height: calc(100vh - 80px);
		transform: translateX(100%);
		background-color: $black;
		opacity: 0;
		transition: transform 0.5s, opacity 0.5s;
		overflow: auto;
	}

	&__item {
		display: inline-block;
		margin-top: 1.5em;
		font-size: 3rem;
		list-style: none;
		text-transform: uppercase;

		a {
			padding: 1em 2em;
			color: $white;
			transition: color 0.3s;
			&:hover {
				color: $main-color;
			}
		}

		&--active a {
			color: $main-color;
		}
	}
}

///

/// HEADER

.header {
	position: relative;
	margin-top: 80px;
	height: 100%;
	max-height: 600px;
	background-image: url(../../dist/img/header-small.jpg);
	background-position: 50% 15%;
	background-size: cover;
	z-index: 0;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: -1;
		content: '';
	}

	&__text {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		height: 60vh;
		max-height: 600px;
		// width: 100%;
		margin: 1em 0 0 1em;
		padding: 1em;
		text-align: left;
		font-size: 2rem;
	}

	&__text-underline {
		border-bottom: 5px solid $main-color;
	}
}

///

/// OFFER

.offer {
	background-color: $black;

	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	&__box {
		padding: 1.2em;
		cursor: default;
		&:hover {
			.offer__icon {
				color: $main-color;
			}
		}
	}

	&__icon {
		font-size: 4rem;
		transition: color 0.3s;
	}

	&__title {
		margin: 0.4em 0;
		text-transform: uppercase;
	}

	&__text {
		font-weight: 200;
	}
}

///

/// NEWS

.news {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $dark;

	&__facebook {
		width: 100%;
		text-align: center;
	}

	&__box-about {
		.section-title {
			margin-top: 2em;
		}
	}

	&__about {
		h3 {
			margin-bottom: 0.3em;
		}
	}

	&__icons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		padding-top: 2em;
		text-align: center;
		img {
			width: 60px;
			transition: transform 0.3s;
		}
		p {
			margin-bottom: 0.5em;
			font-weight: 700;
			cursor: default;
		}
		&:hover {
			img {
				transform: scale(0.95);
			}
		}
	}
}

///

/// PORTFOLIO

.portfolio {
	position: relative;
	background-color: $black;
	overflow: hidden;
	z-index: 0;
	.portfolio-section-strip {
		position: absolute;
		height: 60px;
		bottom: 44%;
		right: -48%;
		width: 180%;
		background-color: rgba(255, 0, 0, 0.5);
		transform: rotate(145deg);
		pointer-events: none;
		opacity: 0.7;
		z-index: -2;
	}
	&__boxes {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__box {
		position: relative;
		margin: 1.5em;
	}
	&__img {
		width: 300px;
		z-index: -1;
		border-radius: 10px;
		transition: transform 0.3s;
		&:hover {
			transform: scale(0.95);
		}
	}

	&__text {
		position: absolute;
		margin-top: -1.3em;
		left: -15px;
		width: 150px;
		text-align: center;
		background-color: $black;
		border: 1px solid $main-color;
		border-radius: 15px;
		z-index: 1;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

.gallery {
	margin-top: 7em;
	font-size: 1.6rem;
	color: $white;
	img {
		margin-bottom: 0.5em;
		width: 1000px;
		max-width: 100%;
	}
	&__info {
		margin-bottom: 1.2em;
	}
	&__text {
		margin-bottom: 0.8em;
	}
	&__list {
		margin-left: 1em;
	}
	&__list-inner {
		margin-left: 2em;
	}
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		img {
			width: 1000px;
		}
	}
}

///

/// PRICING

.pricing {
	position: relative;
	background-color: $dark;
	overflow: hidden;
	z-index: 0;

	.pricing-section-strip {
		position: absolute;
		height: 60px;
		bottom: 44%;
		right: -48%;
		width: 180%;
		background-color: rgba(255, 0, 0, 0.5);
		transform: rotate(35deg);
		pointer-events: none;
		opacity: 0.7;
		z-index: -1;
	}

	&__boxes {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: 0;
		margin: 1.5em 1.5em;
		padding: 1.5em;
		max-width: 275px;
		border-radius: 8px;
		background-color: $white;
		color: $black;
		box-shadow: 0 0 10px rgba(52, 31, 97, 0.5);
		z-index: 1;
	}

	&__price-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: bold;
	}

	&__plan-name {
		margin-top: 1rem;
		margin-bottom: 0.3rem;
		font-size: 1.8rem;
	}

	&__price {
		display: flex;
		font-size: 3.5rem;
	}

	&__currency {
		margin-top: 1.5em;
		margin-left: 0.2em;
		font-size: 1.5rem;
	}

	&__divider {
		height: 1px;
		width: 100%;
		margin-top: 2rem;
		margin-bottom: 2rem;
		background-color: rgba(0, 0, 0, 0.1);
	}

	&__feature {
		display: flex;
		align-items: center;
		margin: 0.5rem;
		i {
			height: 1.1em;
			width: 1.1em;
			margin-right: 0.5rem;
		}
	}

	&__cta-btn {
		border: none;
		box-shadow: 0 3px 10px rgba(52, 31, 97, 0.5);
		width: 100%;
		padding: 1rem 0.5rem;
		cursor: pointer;
		color: $white;
		font-weight: bold;
		border-radius: 4px;
		margin-top: 3rem;
		font-size: 1.5rem;
		background-color: $main-color;
		transition: background-color 0.2s;
		&:hover {
			background-color: $main-color-darker;
		}
	}
}

///

/// REVIEWS

.reviews {
	&__boxes {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__box {
		position: relative;
		margin: 2em 1.6em 0 0;
		padding: 1.5em;
		border-radius: 8px;
		background-color: $dark-grey;
		box-shadow: 3px 3px 10px #2e2e2e2e;
		transition: transform 0.3s;
		&:hover {
			transform: scale(0.95);
		}
	}
	&__box-img {
		position: absolute;
		top: 8%;
		left: 75%;
		transform: translate(-50%, -50%);
		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	&__box-quote {
		margin-bottom: 0.8em;
		font-size: 3rem;
		color: $main-color;
	}
	&__box-text {
		margin-bottom: 1em;
		font-size: 1.4rem;
		color: $white;
	}
	&__box-person {
		font-weight: 700;
	}
}

///

/// CONTACT

.contact {
	background-color: $black;
	&__wrapper {
		margin-top: 2em;
	}

	&__section {
		position: relative;
		margin-bottom: 2em;
		overflow: hidden;
	}

	&__details {
		padding: 1.4em;
		background-color: $dark;
		color: $white;
		border-radius: 5px;
		height: 100%;

		p {
			margin-bottom: 0.5em;
		}

		i {
			margin-right: 0.5em;
			vertical-align: middle;
		}

		.custom-link {
			position: relative;
			font-weight: 200;
			color: $white;
			border-bottom: 2px solid $dark;
			z-index: 0;
			&:hover {
				color: #fff;
				transition: color 0.3s;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: $main-color;
				transform: scaleY(0);
				transform-origin: bottom;
				transition: transform 0.3s;
				z-index: -1;
			}
			&:hover::after {
				transform: scaleY(1);
			}
		}
	}

	&__details-title {
		margin-bottom: 2em;
		h3 {
			margin-bottom: 0.5em;
			text-align: center;
			text-transform: uppercase;
			font-size: 2.6rem;
			font-weight: 700;
		}
		p {
			margin-bottom: 0.5em;
		}
	}

	&__section-bg {
		position: absolute;
		bottom: -35%;
		right: -40%;
		width: 130%;
		transform: rotate(25deg);
		pointer-events: none;
		opacity: 0.04;
	}

	&__box {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
	}

	&__label {
		position: absolute;
		left: 15px;
		top: 3px;
		color: $grey;
		font-size: 1.6rem;
		pointer-events: none;
		transform: translateY(1rem);
		transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__input {
		margin-bottom: 2em;
	}

	&__textarea {
		resize: vertical;
		height: 100px;
		min-height: 100px;
	}

	&__input,
	&__textarea {
		padding: 1em;
		background: none;
		border: none;
		border: 1px solid #d8d8d8;
		border-radius: 4px;
		outline: none;
		color: $white;
		font-family: 'Poppins', sans-serif;
		font-size: 1.4rem;
		transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__input:focus,
	input:valid,
	&__textarea:focus,
	textarea:valid {
		outline: none;
		border: 1.5px solid $main-color;
	}

	&__input:focus ~ label,
	&__input:valid ~ label,
	&__textarea:focus ~ label,
	&__textarea:valid ~ label {
		transform: translateY(-60%) scale(0.9);
		background-color: $black;
		padding: 0 0.2em;
		color: $white;
	}

	&__btn {
		margin-top: 2em;
		padding: 1em;
		font-size: 1.6rem;
		width: 100%;
		color: $white;
		background-color: $main-color;
		border-radius: 8px;
	}

	&__btn:before {
		background-color: $main-color-darker;
	}
}

///

/// PRIVACY POLICY

.privacy-policy {
	margin-top: 1.8em;
	font-size: 1.4rem;
	color: $white;

	a {
		color: $link;
		&:hover {
			text-decoration: underline;
		}
	}

	&__box {
		margin: 4em 0 2em 0;
		font-size: 1.4rem;
		flex-grow: 1;
	}

	&__title {
		margin: 2em 0 0.5em;
		font-weight: 700;
	}
}

///

/// MAP

.map {
	max-height: 500px;
	padding: 2em 0;
	background-color: $dark;

	iframe {
		height: 300px;
		width: 100%;
	}
}

///

/// COOKIES & MESSAGE ALERTS

.hidden-cookies {
	display: none;
}

.hidden-message {
	display: none;
}

.hidden-message-error {
	display: none;
}

.cookie-alert .container,
.message-alert .container,
.message-error-alert .container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.cookie-alert,
.message-alert,
.message-error-alert {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 2em;
	font-size: 1.4rem;
	background-color: $alert;
	z-index: 1000;
	a {
		color: $link;
		&:hover {
			text-decoration: underline;
		}
	}
}

.cookie-btn,
.message-btn,
.message-error-btn {
	padding: 1em 2em;
	margin-left: 1em;
	background-color: $main-color;
	color: #fff;
	border-radius: 8px;
}

///

/// FOOTER

.footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// flex-shrink: 0;
	text-align: center;
	padding-top: 0.5em;
	border-top: 1px solid $dark-grey;
	background-color: $black;
	color: $white;

	&__logo {
		height: 60px;
	}

	&__top {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__day {
		font-size: 1.4rem;
	}

	&__opening-hours p:nth-child(3) {
		margin-top: 1em;
	}

	&__divider {
		margin: 0.8em 0;
		width: 100px;
		height: 1px;
		background-color: $main-color;
	}

	&__social {
		font-size: 3rem;
		color: $white;
		i {
			padding: 0.3em;
			color: $white;
			transition: color 0.3s;
			&:hover {
				color: $main-color;
			}
		}
	}

	&__copy {
		padding: 1em 1em 0.5em 1em;
		font-size: 1.2rem;
	}

	&__scroll {
		position: absolute;
		right: 0;
		bottom: 0;
		margin-right: 0.4em;
		padding: 0.2em;
		font-size: 4rem;
		background: none;
		color: $main-color;
		transition: color 0.3s;
		&:hover {
			color: $main-color-darker;
		}
	}

	&__author {
		font-size: 1rem;
		color: rgb(255, 255, 255);
		margin-bottom: 2em;
	}

	&__author-text {
		font-size: 1rem;
		font-family: 'archia', 'sans-serif';
	}

	&__author-logo {
		margin: -0.32em 0 0 0.12em;
		height: 10px;
		vertical-align: middle;
	}
}

///

/// ERROR 404

.error {
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: 100vh;
		padding: 10em 2em;
	}
	&__icon {
		font-size: 7rem;
	}
	&__text {
		margin-top: 1em;
		text-align: center;
	}
	&__instruction {
		margin-top: 1em;
		font-size: 1.4rem;
		a {
			color: $link;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

///

/// COMPONENTS

.wrapper,
.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1400px;
}

.show-menu {
	transform: translateX(0);
	opacity: 1;
}

.fixed-body {
	overflow: hidden;
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	li {
		margin: 0 0.25rem;
	}
	button {
		display: block;
		width: 2.2em;
		height: 0.3em;
		padding: 0;
		margin: 0 0.1em;
		border: none;
		background-color: rgba(255, 255, 255, 0.45);
		text-indent: -9999px;
		transition: background-color 0.3s;
		&:hover {
			background-color: $main-color;
		}
	}
	li.slick-active button {
		background-color: $main-color;
	}
}

.animation-one {
	animation-name: fade-in-right;
	animation-duration: 1s;
}
.animation-two {
	animation-name: fade-in-left;
	animation-duration: 1s;
}
.animation-three {
	animation-name: fade-in-bottom;
	animation-duration: 1s;
}

.section-title {
	margin-bottom: 0.8em;
	padding-left: 0.5em;
	font-size: 2.6rem;
	color: $white;
	text-transform: uppercase;
	border-left: 5px solid $main-color;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;
}
.btn-special-animation:before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
	z-index: -1;
}
.btn-special-animation:hover:before {
	transform-origin: left;
	transform: scaleX(1);
}

.section-padding {
	padding: 1.5em 0;
}

///

@media (min-width: 500px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.header {
		max-height: 800px;
		background-image: url(../../dist/img/header-big.jpg);
		background-position: 50% 30%;

		&::before {
			background-color: rgba(0, 0, 0, 0.8);
		}

		&__text {
			justify-content: center;
			align-items: center;
			max-height: 800px;
			margin: 0;
			text-align: center;
			font-size: 5rem;
			h1 {
				text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
				font-size: 5rem;
			}
		}
	}
	.news {
		&__icons {
			flex-direction: row;
		}
		&__icon {
			margin-top: 3em;
			padding: 0 1.5em;
		}
	}
}

@media (min-width: 870px) {
}

@media (min-width: 992px) {
	.navbar {
		&__list {
			flex-direction: row;
			justify-content: space-between;
			position: static;
			height: 80px;
			width: auto;
			transform: translateX(0);
			opacity: 1;
			background: none;
			overflow: hidden;
		}
		&__item {
			margin-top: 0;
			font-size: 1.6rem;
		}
		&__burger-btn {
			display: none;
		}
	}

	.offer {
		&__boxes {
			flex-direction: row;
		}
	}

	.news {
		&__boxes {
			display: flex;
			justify-content: space-around;
			align-items: flex-start;
		}

		&__box-facebook {
			flex-grow: 2;
		}

		&__facebook {
			text-align: left;
		}

		&__box-about {
			.section-title {
				margin-top: 0;
			}
			flex-wrap: wrap;
			width: 60%;
			flex-grow: 3;
			p {
				width: 100%;
			}
		}

		&__icons {
			flex-direction: row;
			margin-top: 2em;
		}

		&__icon {
			padding: 0 2em;
		}
	}

	.portfolio {
		&__boxes {
			flex-direction: row;
		}

		&__img {
			display: inline-block;
			width: 100%;
		}
	}

	.pricing {
		.pricing-section-strip {
			display: none;
		}

		&__boxes {
			flex-direction: row;
		}
	}

	.footer {
		&__top {
			flex-direction: row;
			margin: 2em 0;
		}
		&__top div {
			width: 30%;
		}
	}

	.gallery {
		// footer stay down
		min-height: calc(100vh - 195px);

		&__box {
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 1em;
		}

		img {
			margin: 0.5em;
			height: 250px;
			width: 430px;
			max-width: 100%;
		}
	}
	.section-padding {
		padding: 2.5em 0;
	}
}

@media (min-width: 1150px) {
	.contact__wrapper {
		display: flex;
	}
}
@media (min-width: 1150px) {
	.contact__section {
		margin-bottom: 0;
		margin-right: 2em;
		width: 30%;
	}
}
@media (min-width: 1150px) {
	.contact__form {
		width: 70%;
	}
}
